<div class="modal-le">
  <div class="modal-header " >
    <h5 class="modal-title">Agregar Nuevo Usuario</h5>
    <button type="button" class="btn-close"  aria-label="Close" (click)="onCancel()"></button>
  </div>
  <div class="modal-body">
    <div *ngIf="isLoading" class="preloader">
      <span class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span> Cargando información
    </div>
    <form *ngIf="!isLoading">
      <div class="row form-reg">
        <div class="col-md-12">
          <label for="nombre">Nombre:</label>
          <ng-select [items]="users"
                    bindLabel="customLabel"
                    bindValue="IDPERSONAL"
                    [(ngModel)]="user.IDPERSONAL"
                    placeholder="Seleccione un nombre"
                    name="IDPERSONAL" class="select-2-par form-select"
                    [ngModelOptions]="{standalone: true}">
            <ng-template ng-label-tmp let-item="item">
                {{ item.NUM_DOC }} - {{ item.APE_PAT }} {{ item.APE_MAT }}, {{ item.NOMBRE }} - {{ item.NOMBRE_MAC }}
            </ng-template>
            <ng-template ng-option-tmp let-item="item">
                <div [ngClass]="'custom-option-class'">
                    {{ item.NUM_DOC }} - {{ item.APE_PAT }} {{ item.APE_MAT }}, {{ item.NOMBRE }} - {{ item.NOMBRE_MAC }}
                </div>
            </ng-template>
          </ng-select>

        </div>        
      </div>
      <div class="mb-3 mt-2">
        <label for="username" class="form-label">Perfil <strong>(Se puede seleccionar mas de una opción)</strong></label>
        <div class="row">
          <div class="btn-group" role="group" aria-label="Selección de perfiles">
            <ng-container *ngFor="let perfil of perfiles">
              <input type="checkbox" class="btn-check" [id]="'perfil_' + perfil.id" [value]="perfil.id"
                     autocomplete="off" [checked]="user.perfil_.includes(perfil.id)"
                     (change)="onPerfilChange($event, perfil.id)">
              <label class="btn btn-outline-primary" [for]="'perfil_' + perfil.id">
                  {{ perfil.description }}
              </label>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="mb-3 mt-2">
        <label for="roles" class="form-label">Rol <strong>(Se puede seleccionar solo una opción)</strong></label>
        <div class="form-group">
          <div *ngFor="let rol of roles" class="form-check form-check-inline">
            <input class="form-check-input" type="radio" [id]="'rol_' + rol.id" [value]="rol.id"
                   [(ngModel)]="selectedRoles" name="selectedRoles" (change)="onRolesChange($event, rol.id)"  [(ngModel)]="user.rol_" [ngModelOptions]="{standalone: true}"  >
            <label class="form-check-label" [for]="'rol_' + rol.id">
              {{ rol.description }}
            </label>
          </div>
        </div>
      </div>
      
      <!-- Agrega aquí más campos según sea necesario -->
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger" (click)="onCancel()">Cerrar</button>
    <button type="button" class="btn btn-outline-success" (click)="saveUser()" [disabled]="isLoading">
      Guardar Usuario
      <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </div>
  
</div>
