<div class="col-12">
    <div class="card">
      <div class="card-header text-bg-primary">
        FILTROS DE BÚSQUEDA
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label class="mb-3">Usuario:</label>
             
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-success mx-2" (click)="openAddUserModal()">Agregar nuevo usuario</button>
        
      </div>
    </div>
</div>
<br />
<div class="col-12">
  <div class="card">
    <div class="card-header text-bg-secondary">
      RESULTADOS
    </div>
    <div class="card-body ">
      <div class="table table-responsive table-hover" id="table_data">
          <table  class="table table-responsive table-hover">
              <thead class="table-dark ">
                <tr>
                  <!-- Define los encabezados de tu tabla aquí -->
                  <th>N°</th>
                  <th>USUARIO</th>
                  <th>PERSONAL</th>
                  <th>ENTIDAD</th>
                  <th>CENTRO MAC</th>
                  <th>CORREO</th>
                  <th>PERFILES</th>
                  <th>ROL</th>
                  <th>ACCIONES</th>
                  <!-- Más columnas si es necesario -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users | paginate: { itemsPerPage: pageSize, currentPage: page }; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ user.name }}</td>
                  <td>{{ user.nombreu }}</td>                  
                  <td>{{ user.ABREV_ENTIDAD }}</td>
                  <td>{{ user.NOMBRE_MAC }}</td>
                  <td>{{ user.CORREO }}</td>
                  <td>{{ user.perfiles }}</td>
                  <td>
                    {{ getRoleNames(user) }}
                  </td>
                  <td class="accion">
                      <button class="no-btn" (click)="openEditUserModal(user)">
                        <i class="fa-solid fa-pen-to-square text-success"></i>
                      </button>
                      <button class="no-btn" (click)="openChangePasswordModal(user)">
                        <i class="fa-solid fa-key text-primary"></i>
                      </button>
                      <button class="no-btn" (click)="deleteUser(user)">
                        <i class="fa-solid fa-trash-can text-danger"></i>
                      </button>                    
                  </td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6"></td>
                  <td colspan="3">
                    <pagination-controls *ngIf="users.length > 0" (pageChange)="page = $event">
                      <ng-template ngx-pagination-template let-model="model">
                        <div class="ngx-pagination">
                          <a class="btn btn-secondary" [class.disabled]="model.currentPage === 1" (click)="model.setCurrent(model.currentPage - 1)">Anterior</a>
                          <span class="current">Página {{ model.currentPage }} de {{ model.totalPages }}</span>
                          <a class="btn btn-secondary" [class.disabled]="model.currentPage === model.totalPages" (click)="model.setCurrent(model.currentPage + 1)">Siguiente</a>
                        </div>
                      </ng-template>
                    </pagination-controls>  
                  </td>
                </tr>
              </tfoot>
            </table>
            <p *ngIf="users.length === 0">Sin resultado en la búsqueda...</p>
                  
      </div>
    </div>
  </div>
</div>
