.modal-dialog {
    max-width: 70% !important;
}

.select-2-par {
    /* Estilos personalizados para el ng-select */
    border: 1px solid #cfcfcf;
    border-radius: 4px;
    padding: 0.5rem;
}

.custom-option-class {
    /* Estilos personalizados para las opciones del desplegable */
    padding: 0.5rem;
    color: #343a40;
    background-color: #f8f9fa;
    border: 1px solid #a09c9c;
}

.custom-option-class:hover {
    /* Estilos para cuando se pasa el cursor sobre una opción */
    background-color: #007bff;
    color: #fff;
}

.ng-clear-wrapper{
    padding-right: 2em !important;
}

.accion{    
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}