<div id="modal-add">
  <div class="modal-header">
    <h5 class="modal-title">Agregar Nuevo Documento</h5>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="onCancel()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="row">
        <div class="col">
          <label for="documentName">Carpeta</label>
          <select name="document" [(ngModel)]="data" class="form-select">
            <option value="">Todos</option>
            <option *ngFor="let doc of documents" [value]="doc.id">{{ doc.denominacion }}</option>
          </select>
        </div>
        <div class="col">
          <label for="documentName">Nombre del Documento</label>
          <input type="text" class="form-control" placeholder="Nombre del documento" aria-label="Nombre del documento">
        </div>
      </div>
      <div class="form-group">
        <label for="documentName">Nombre del Documento</label>
        <input type="text" class="form-control" id="documentName" placeholder="Ingrese el nombre del documento">
      </div>
      <div class="form-group">
        <label for="documentDescription">Descripción</label>
        <textarea class="form-control" id="documentDescription" rows="3" placeholder="Ingrese la descripción del documento"></textarea>
      </div>
      <button type="button" class="btn btn-primary" (click)="onSave()">Guardar</button>
    </form>
  </div>
</div>
