body, html{   
    font-family: "Roboto", sans-serif;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/*********** TABLAS *********************/
table > thead > tr > th{
    vertical-align: middle !important;
    font-size: 14px !important;
    
}


table > tbody > tr > td{
    vertical-align: middle !important;
    font-size: 14px !important;
    color: #383838 !important;
}


/***** FORMULARIOS *****/

label{
    font-size: 14px !important;
    color: #303e67;
}